.container{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    height: auto;
    min-height: 1500px;
    border: 8px solid navajowhite;
    padding: 0px;
    width: auto;
}
.form-group{
    display: inline-block;
    width: 88.5%;
    margin: auto;
}
.form-control{
    display: block;
    width: 70%;
}
.form-group label{
    margin: 1%;
    font-weight: bold;
}
.register-column{
    height: auto;
    width: 400px;
    display: inline-block;
    margin: 15px 125px 25px 10px;
    border: 4px solid navajowhite;
    padding: 10px;
    color: navajowhite;
}
.register-column button {
    display: block;
    background-color: navajowhite;
    color: steelblue;
    font-weight: bolder;
    margin-top: 1%;
}
.login-column{
    height: auto;
    width: 400px;
    display: inline-block;
    vertical-align: top;
    margin: 15px 10px 0px 140px;
    border: 4px solid navajowhite;
    padding: 10px;
    color: navajowhite;
}
.login-column button {
    display: block;
    background-color: navajowhite;
    color: steelblue;
    font-weight: bolder;
    margin-top: 1%;
}
.success-message {
    display: block;
    margin: auto;
    padding: 2% 0% 0% 2%;
}
.success-message h2{
    text-align: center;
    color: navajowhite;
    text-decoration-line: underline;
    font-weight: bolder;
}
a{
    float: right;
    vertical-align: top;
    font-size: 20px;
}
.messages{
    margin: auto;
    width: 60%;
    padding: 5px;
    text-align: center;
    color: red;
    border: 4px solid red;
}
.messages h5{
    text-decoration: underline solid red;
    font-size: 25px;
}
.page_header{
    width:1124px;
    height:75px;
    border-bottom:5px solid navajowhite;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);    margin: auto;
    display: inline-block;
}
.page_header h1{
    text-align: left;
    display: inline-block;
    margin: 10px 0px 0px 10px;
    color: navajowhite;
}
.page_header h5{
    text-align: left;
    display: inline-block;
    margin: 0px 0px 0px 10px;
    color: navajowhite;
    font-size: 17px;
}
.page_header h6{
    text-align: left;
    display: inline-block;
    color: navajowhite;
    font-size: 15px;
}
.page_header h4{
    text-align: right;
    display: inline-block;
    color: navajowhite;
    margin: 0% 3% 5% 32%;
    font-size: 22px;
}
.page_header a{
    text-align: right;
    display: inline-block;
    float: right;
    margin: 2% 2% 5% -1%;
    font-size: 20px;
    color: navajowhite;
    border: 2px solid navajowhite;
    padding: 3px;
}
.page_header form{
    text-align: right;
    display: inline-block;
    margin: 0px 15px 0px 550px;
}
.wall_box {
    margin: auto;
    width: 90%;
    height: 75%;
}
.message_box{
    margin:auto;
    height: 30%;
    padding: 1%;
}
.message_box button {
    display: block;
    background-color: navajowhite;
    color: steelblue;
    font-weight: bolder;
    margin: 1% .25% 0% 0%;
    float: right;
    border: navajowhite;
}
.message_box label{
    color: navajowhite;
    font-size: 25px;
    margin: auto;
}
.message_box textarea{
    width: 875px;
    height: 100px;
    margin: 1% 0% 0% 0%;
}
.message_comment_box{
    margin: auto;
    height: 400px;
    color: navajowhite;
}
.message_comment_box h3{
    margin: .5% 0% 2% 0%;
    font-weight: bold;
}
.message_comment_box ul {
    display: inline-block;
}
.message_comment_box li {
    display: inline-block;
}
.message_comment_box h5{
    font-size: 23px;
    font-weight: bold;
    margin: .5% 0% .5% 0%;
}
.message_comment_box h3{
        text-align: center;
        color: navajowhite;
        text-decoration-line: underline;
        font-weight: bolder;
}
.message_comment_box button {
    display: block;
    background-color: navajowhite;
    color: steelblue;
    font-weight: bolder;
    margin: 1% 12% 0% 0%;
    float: center;
    border: navajowhite;
}
.message_comment_box textarea{
    width: 890px;
    height: 75px;
    margin: 1% 0% 0% 0%;
}
.hidden_box{
    color: navajowhite;
}
.hidden_box h3{
    text-decoration-line: underline;
}
.hidden_box button {
    display: inline-block;
    background-color: navajowhite;
    color: steelblue;
    font-weight: bolder;
    border: navajowhite;
    margin: 0% 0% 2% 5%;
}
fieldset a{
    color:navajowhite;
    border: 2px solid navajowhite;
    padding: .1%;
}